<form class="mdl-grid card-item">
  <div class="mdl-cell mdl-cell--9-col">

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col form-group">
          <label class="form-label">License Number:</label>
          <label class="form-label-value">ABC-XYZ-123</label>
      </div>


      <div class="mdl-cell mdl-cell--6-col form-group">
        <label class="form-label">Dealership Name:</label>
        <label class="form-label-value">Go Green PUC Center</label>
      </div>
      <div class="mdl-cell mdl-cell--6-col form-group">
        <label class="form-label">Owner Name: </label>
        <label class="form-label-value">Amit Parrikar</label>
      </div>


      <div class="mdl-cell mdl-cell--6-col form-group">
        <label class="form-label">Primary Email: </label>
        <label class="form-label-value">amitparrikar@gmail.com</label>
      </div>
      <div class="mdl-cell mdl-cell--6-col form-group">
        <label class="form-label">Primary Contact Number: </label>
        <label class="form-label-value">9049051067</label>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col avatar-section">
    <op-avatar [avatarImage]="''"></op-avatar>
  </div>

  <div class="mdl-cell mdl-cell--12-col">

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="secondaryEmail" name="secondaryEmail">
        <label class="mdl-textfield__label" for="secondaryEmail">Secondary Email</label>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="secondaryEmail" name="secondaryEmail">
        <label class="mdl-textfield__label" for="secondaryEmail">Secondary Email</label>
      </div>

      <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="secondaryEmail" name="secondaryEmail">
        <label class="mdl-textfield__label" for="secondaryEmail">Secondary Email</label>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="secondaryEmail" name="secondaryEmail">
        <label class="mdl-textfield__label" for="secondaryEmail">Secondary Email</label>
      </div>
    </div>
  </div>
</form>
