/* You can add global styles to this file, and also import other style files */
@import "./mixins.scss";
@import "./variables.scss";

// DECLARE GLOBAL STYLES HERE

.mdl-layout__content {
  background-image: url($layout-background-color);

  .mdl-layout__tab-panel {
    .page-content {
      max-width: $page-content-max-width;
      margin: 0 auto;
      //min-height: $page-content-min-height;
      //background-color: $page-content-background-color;
      //box-shadow: $default-box-shadow;
    }
  }
}

.make-row {
  &:before {
    content: ' ';
    display: table;
  }
  &:after {
    content: ' ';
    display: table;
  }
}

.card-item {
  background-color: $page-content-background-color;
  box-shadow: $default-box-shadow;
}

.page-content-card {
  @extend .card-item;
  width: 100%;
  min-height: 10rem;
}

.flex-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.m-b-10 {
  margin-bottom: 1rem;
}
