// DECLARE ALL THE APPLICATION VARIABLES HERE

$layout-background-color: '../assets/images/new_year_background.png';

$page-content-background-color: #ffffff;
$page-content-max-width: 80rem;
$page-content-min-height: 90vh;

$default-box-shadow: 0 0 1.4rem 0.2rem lightgrey;
$default-fieldset-border: 0.1rem solid lightgrey;


$card-title-count-color: #fb9615;


//FORM VARIABLES
$form-label-color: #bdbcbc;
