@import "./../../styles/variables.scss";
@import "./../../styles/mixins.scss";

fieldset {
  border: $default-fieldset-border;
  padding: 0 1rem 0 1rem;
  border-radius: 0.3rem;
  legend {
    color: $form-label-color;
    font-size: 1.5rem;
  }
}

.m-b-25 {
  margin-bottom: 2.5rem;
}

.mdl-textfield {
  width: 30rem;
  margin-top: 1rem;
}

.mat-select{
  width: 100%
}

.mat-input-container {
  top: -13.6px;
  width: 100%
}

.form-label {
  font-size: 16px;
  font-weight: 300;
  color: $form-label-color;
}
