<div class="page-content-card m-b-10 flex-container">

  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h4>
        1345
      </h4>
    </div>
    <div class="mdl-card__actions mdl-card--border mdl-color--primary">
      <span>Notify Old Customer</span>
    </div>
  </div>

  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h4>
        3245
      </h4>
    </div>
    <div class="mdl-card__actions mdl-card--border mdl-color--primary">
      <span>Returning Customer</span>
    </div>
  </div>

  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h4>
        345
      </h4>
    </div>
    <div class="mdl-card__actions mdl-card--border mdl-color--primary">
      <span>Current Month Count</span>
    </div>
  </div>


</div>

<div class="page-content-card">
  lower section
</div>
